<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Costco Grocery List</title>
</head>
<body>
    <h1>Costco Grocery List</h1>
    <ul class="groceryList">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="itemLists">
            <span><%= info[i].costcoLocation %></span>
            <span><%= info[i].costcoItem %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add An Item:</h2>

    <form action="/addItems" method="POST">
        <input type="text" placeholder="Location" name="costcoLocation">
        <input type="text" placeholder="Item" name="costcoItem">
        <input type="submit" value="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
